<h1>Ivana Martins</h1>
<h2> Know a little more about Ivana </h2>


<p> Ivana is a biologist venturing into the programming area and created this fungi web page to train this skill
Find me in app/views/pages/info.html.erb</p>
